*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
:root {
  font-family: "DM Sans";
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f5f7fb;
}
img,
svg {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.content {
  height: 100%;
  padding: 2rem;
  display: grid;
  gap: 2rem;
}
@media screen and (max-width: 375px) {
  .content {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1440px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  max-width: 22rem;
  height: fit-content;
  border-radius: 1rem;
  padding-bottom: 1.2rem;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06), 0 20px 40px rgba(0, 0, 0, 0.12);
  img {
    border-radius: 1rem 1rem 0 0;
  }
}

.card-detail-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.chip {
  font-size: small;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  color: #374151;
}

.updated-date {
  color: #374151;
  font-size: 14px;
  padding-top: 0.3rem;
}
