@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf")
      format("truetype"),
    url("./assets/fonts/static/DMSans-Regular.ttf") format("truetype"),
    url("./assets/fonts/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 400 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf")
      format("truetype"),
    url("./assets/fonts/static/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 400 500;
  font-style: italic;
}
@theme {
  --font-family: "DM Sans", sans-serif;
  --text-base: 1.125rem; /* 18px */
  --color-base: hsl(0, 0%, 96%);
  --color-Purple-100: hsl(254, 88%, 90%);
  --color-Purple-500: hsl(256, 67%, 59%);
  --color-Yellow-100: hsl(31, 66%, 93%);
  --color-Yellow-500: hsl(39, 100%, 71%);
  --breakpoint-mobile: 23.438rem; /* 375px */
  --breakpoint-desktop: 90rem;
}
@layer components {
  .card {
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
body {
  font-family: var(--font-family);
  font-size: var(--text-base);
  background-color: var(--color-base);
  width: 100%;
  /* for tracing */
  background-image: url("./trans-desktop-design 1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Mobile first approach */
main {
  opacity: 60%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  /* max-width: var(--breakpoint-mobile); */
}

/* Desktop styles */
@media (min-width: 1440px) {
  main {
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    grid-template-columns: repeat(1fr, 4);
    padding: 5rem 10rem;
  }
}
